@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: url(bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    position: relative;
}

.logo img {
    width: 120px;
    height: auto;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav ul li {
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Mengubah warna tulisan saat hover */
.nav ul li a:hover {
    color: purple;
    transition: color 0.6s ease; /* Mengubah warna saat hover */
}

/* Mengubah warna tulisan saat aktif (diklik) */
.nav ul li a:active {
    color: purple; /* Mengubah warna saat diklik */
}

.menu-toggle {
    display: none;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
}

.hero-content {
    width: 80%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-content h1, h2, .hero-content p {
    color: whitesmoke;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.buttons button {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    cursor: pointer;
    transition: .6s;
}

.buttons button:hover {
    background-color: whitesmoke;
    color: #1e1e1e;
}

.medsos {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.medsos .icon {
    font-size: 25px;
    color: white;
    transition: .5s;
}

.medsos .icon a {
    color: inherit; /* Menggunakan warna teks yang diwarisi dari .icon */
    text-decoration: none; /* Menghilangkan garis bawah */
}

.medsos .icon:hover i {
    /* Tetap menjaga warna putih saat di-hover pada tautan */
    color: white; 
}

.medsos .icon:hover:nth-child(1) i {
    color: blue;
}

.medsos .icon:hover:nth-child(2) i {
    color: orangered;
}

.medsos .icon:hover:nth-child(3) i {
    color: yellow;
}

.medsos .icon:hover:nth-child(4) i {
    color: red;
}

.medsos .icon:hover:nth-child(5) i {
    color: grey;
}



/* Responsive untuk max-width 991.98px */
@media (max-width: 991.98px) {
    .nav {
        padding: 0 50px;
    }

    .nav ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .site-navigation.active {
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: transparent;
        padding: 5px 0;
    }

    .site-navigation.active li {
        width: 100%;
        text-align:right;        
    }
}

/* Responsive untuk max-width 768px */
@media (max-width: 768px) {
    .nav {
        padding: 0 30px;
    }

    .site-navigation li {
        opacity: 0; /* Make items invisible initially */
        transition: opacity 0.6s ease; /* Add transition for fading in */
    }
    
    .site-navigation li.show {
        opacity: 1; /* Make items visible */
    }

}

/* Responsive untuk max-width 425px */
@media (max-width: 425px) {
    .nav {
        padding: 0 20px;
    }

    .hero-content h2 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .buttons {
        flex-direction: column;
        gap: 20px;
    }
    .buttons button {
        width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    

    .site-navigation li {
        opacity: 0; /* Make items invisible initially */
        transition: opacity 0.6s ease; /* Add transition for fading in */
    }
    
    .site-navigation li.show {
        opacity: 1; /* Make items visible */
    }
}
